## Goal

* load sales data from the months `January`, `February`, and `March` into DataFrames. 
* Then,extract Series with the `'Units'` column from each and `append` them together with method chaining using `.append()`.

In [1]:
import pandas as pd

In [6]:
jan = pd.read_csv('../data/sales-jan-2015.csv', parse_dates=True, index_col='Date')
feb = pd.read_csv('../data/sales-feb-2015.csv', parse_dates=True, index_col='Date')
mar = pd.read_csv('../data/sales-mar-2015.csv', parse_dates=True, index_col='Date')

In [7]:
jan.head()

                       Company   Product  Units
Date
2015-01-21 19:13:21  Streeplex  Hardware     11
2015-01-09 05:23:51  Streeplex   Service      8
2015-01-06 17:19:34    Initech  Hardware     17
2015-01-02 09:51:06      Hooli  Hardware     16
2015-01-11 14:51:02      Hooli  Hardware     11

In [8]:
feb.head()

                       Company   Product  Units
Date
2015-02-26 08:57:45  Streeplex   Service      4
2015-02-16 12:09:19      Hooli  Software     10
2015-02-03 14:14:18    Initech  Software     13
2015-02-02 08:33:01      Hooli  Software      3
2015-02-25 00:29:00    Initech   Service     10

In [9]:
mar.head()

                       Company   Product  Units
Date
2015-03-22 14:42:25  Mediacore  Software      6
2015-03-12 18:33:06    Initech   Service     19
2015-03-22 03:58:28  Streeplex  Software      8
2015-03-15 00:53:12      Hooli  Hardware     19
2015-03-17 19:25:37      Hooli  Hardware     10

# Extract `'Unit'` column

In [11]:
jan_units = jan['Units']
feb_units = feb['Units']
mar_units = mar['Units']

In [13]:
quarter1 = jan_units.append(feb_units).append(mar_units)
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])
print(quarter1.loc['feb 26, 2015':'mar 7, 2015'])

Date
2015-01-27 07:11:55    18
2015-02-02 08:33:01     3
2015-02-02 20:54:49     9
Name: Units, dtype: int64
Date
2015-02-26 08:57:45     4
2015-02-26 08:58:51     1
2015-03-06 10:11:45    17
2015-03-06 02:03:56    17
Name: Units, dtype: int64

## Total Sales of Quater1

In [14]:
print(quarter1.sum())

642